{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-8 m-4">
        <div class="card-deck">
                <div class="card">
                        <img class="card-img-top" src="{{ product.ProductImage }}" alt="Card image cap">
                        <div class="card-body">

                            <h5 class="card-title">{{ product.ProductName }}</h5>
                            <small class="text-muted">Added the {{ product.CreatedAt | date("Y/m/d") }} at {{ product.CreatedAt | date("H:i") }}</small></br>
                            <small class="text-muted">Category :  {{ product.category.CatName}}</small>
                            <p class="card-text">{{ product.ProductDesc | raw }}</p>
                            <div class="card-footer">
                                   
                                <label class="control-label">Price</label>
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="" value="{{ product.ProductPrice }}"aria-label="Amount (to the nearest dollar)">
                                        <div class="input-group-append">
                                          <span class="btn btn-primary">Bid</span>
                                        </div>
                                    </div>
                                <div>Auction end in : "trouver une logique pour pour une date et heure de fin"</div>
                                    
                            </div>
                        </div>
                </div>
        </div>

        <div class="card mt-4">
            <div class="card-header text-light bg-dark">
                Comments
            </div>
            <section id="comments" class="bg-light">
                {% for comment in product.comments %}
                <div class="container">
                    <div class="row mt-2">
                        <div class="col-3">
                            <u>{{ comment.author }}</u> :
                        </div>
                        <div class="col">
                            {{ comment.content | raw }}
                        </div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </section>
        </div>

    </div>
</div>

{% endblock %}